<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" (click)="back()" aria-label="Configurar cuenta">arrow_back</mat-icon>
    <span class="example-spacer"></span>
    <h1>2FA</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="card">
  <h1 style="text-align: left;">¿Deseas activar la autenticación de segundo factor (2FA) ?</h1>
  <p>Con la segunda autenticación te aseguras que solo los dispositivos que vos autorizas puedan acceder a la aplicación
  </p>
  <button mat-raised-button (click)="irA2Fac()" style="width: 100%;" color="primary">Activar</button>
</div>
