<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer style="width: 80%;">
    <app-nav-buttons></app-nav-buttons>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon aria-hidden="false" (click)="drawer.toggle()" aria-label="Configurar cuenta">dehaze</mat-icon>
        <span class="example-spacer"></span>
        <h1>Menú</h1>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>

</mat-drawer-container>
