<!-- <h1>
  Hola {{usuario.usuario}}!
</h1> -->
<!-- <div style="height: 10%;">
  <h1 style="">Hola {{usuario.usuario}}!</h1>
</div> -->
<div class="page">

  <div style="position: relative; top: 50%; transform: translateY(-50%);">
    <div class="div">
      <h1 style="text-align: center;">Hola {{usuario.usuario}}!</h1>
      <div class="codigoDiv">
        TDS - 020
      </div>
    </div>
  </div>
</div>


<style>

  .codigoDiv {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 15px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    font-size: 24pt;
  }

  .page {
    width: 100%;
    height: 100%;
  }
</style>
