<form [formGroup]="formGroup">
  <div class="title-container">
    <img height="150px" width="150px" src="assets/t_aliceblue.png" />
  </div>
  <mat-form-field class="input" appearance="outline">
    <mat-label>Usuario</mat-label>
    <input formControlName="usuario" matInput>
  </mat-form-field>

  <mat-form-field class="input" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input #pass matInput autocomplete="on" formControlName="password" type="password">
    <mat-icon style="color: aliceblue;" (click)="verPassword(); $event.stopPropagation()" matSuffix>
      {{ verPass ? 'visibility_off': 'visibility' }}</mat-icon>
  </mat-form-field>

  <div class="input">
    <button type="button" [disabled]="!formGroup.valid || cargando" (click)="login()" mat-flat-button
      color="primary">{{cargando ? 'Ingresando...' : 'Ingresar'}}</button>
  </div>
</form>


<style>

  .title-container {
    max-width: 150px;
    margin: 0 auto;
    display: flex
  }

  .h1 {
    color: aliceblue;
    font-weight: lighter;
    margin: auto 0;
  }


  button {
    width: 100%;
  }

  .input {
    display: block;
  }

  .input mat-label {
    color: aliceblue;
  }

  .input .mat-input-element {
    color: aliceblue;
  }

  .input .mat-input-element::placeholder {
    color: aliceblue;

  }
</style>
